:root{
    --font-primary: "Lato", sans-serif;
    --font-secondary: "Roboto", serif;
}

html{
    font-size: 16px;
}

*{
    font-family: var(--font-primary);
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.roboto { 
    font-family: var(--font-secondary) !important; 
}

/* CORREGIR */
/* @media (width >= 1024px){
    .main__welcome{
        background-image: url(../assets/fondo-desktop.svg);
    }

} */