:root {
  --font-primary: "Lato", sans-serif;
  --font-secondary: "Roboto", serif;
}

html {
  font-size: 16px;
}

* {
  font-family: var(--font-primary);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.roboto {
  font-family: var(--font-secondary) !important;
}

select.element-form {
  /* color: #494f66; */
  appearance: none;
  background-image: url(../assets/icons/icon_down_red.png);
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 16px;
  width: 40%;
}

/* CORREGIR */
@media (width >= 1024px) {
  .main__welcome {
    background-image: url(../assets/fondo-desktop.svg);
  }
}

.bor-dashed {
  border-left: dashed 1px var(--color-secondary-light);
  margin-left: 12px;
}
