.checkbox-small:checked {
  background-color: #09ae17;
  border-color: #09ae17;
}

.checkbox-small:checked::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
}

.element-form::placeholder {
  color: #a9afd9;
  font-size: 16px;
}
